@charset "utf-8";

// Variables
:root {
  // Fonts
  --primary-font: Alata, sans-serif;
  --secondary-font: "Josefin Sans", sans-serif;

  // Colours
  --primary: black;
  --secondary: white;
  --tertiary: rgb(0 0 0 / .4994);
  --quaternary: rgb(255 255 255 / .5);
  --primary-background: white;
  --secondary-background: black;
}
