@charset "utf-8";
@use "sass:list";

/**
 * @site Loopstudios landing page
 * @author Victor Brito
 */

// Browser configuration
@use "./base/config" as *;

@use "./base/mixins" with (
  $media-queries-breakpoints: (
    dynamic-outer-spacing: 500,
    multicol-footer: 983
  )
);
@use "./variables";
@use "./base/reset";
@use "./base/print";
@use "./typo/font-face";
@use "./typo/typo";
@use "./layout/layout";
@use "./footer/footer";
