@charset "utf-8";
@use "sass:list";

/**
 * @site Loopstudios landing page
 * @author Victor Brito
 */

// Browser configuration
@use "./base/config" as *;

@use "./base/mixins" with (
  $media-queries-breakpoints: (
    dynamic-outer-spacing: 500,
  multicol-landing-page: 701,
    visible-menu: 772,
    bigger-banner: 800,
    multicol-footer: 983,
    multicol-hero: 1088
  )
);
@use "./variables";
@use "./base/reset";
@use "./base/print";
@use "./typo/font-face";
@use "./typo/typo";
@use "./layout/layout";
@use "./header/header";
@use "./header/menu";
@use "./footer/footer";
@use "./landing-page/hero";
@use "./landing-page/creations";
