@charset "utf-8";
@use "../base/mixins" as *;
@use "../menu-link-hover/mixins" as mixins;

/** @section Menu */
#menu {
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--menu-gap);
    list-style: none;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  @include css-media-queries($below-breakpoint: visible-menu) {
    font-family: var(--secondary-font);
    font-size: var(--menu-text-size);
    line-height: var(--menu-text-line-height);
    text-transform: uppercase;
    @media (scripting: enabled) {
      position: absolute;
      inset-inline-end: var(--outer-inline-spacing);
      inset-block-start: var(--menu-button-block-inset);
      &:has(button.open) {
        position: fixed;
      }
      ul {
        background: var(--secondary-background);
        display: flex;
        justify-content: center;
        padding-inline: var(--outer-inline-spacing);
        position: fixed;
        inset: 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity var(--menu-button-transition-duration);
      }
      li {
        transform: translateY(30%);
        transition: transform var(--menu-button-transition-duration);
      }
      button {
        border: none;
        position: relative;
        z-index: 1;
        &.open {
          + ul {
            opacity: 1;
            pointer-events: initial;
            li {
              transform: translateY(0);
            }
          }
          .icon-bar {
            transform: scaleX(0);
            &:first-of-type {
              transform: translateY(0) rotate(45deg);
            }
            &:last-of-type {
              transform: translateY(0) rotate(-45deg);
            }
          }
        }
        &.closed {
          .icon-bar {
            transform: scaleX(1);
            &:first-of-type {
              transform: translateY(calc(-1 * var(--menu-button-translation))) rotate(0);
            }
            &:last-of-type {
              transform: translateY(var(--menu-button-translation)) rotate(0);
            }
          }
        }
      }
      svg {
        display: block;
      }
      .icon-bar {
        stroke-width: 2;
        stroke: var(--primary-background);
        transform-origin: center;
        transition: transform var(--menu-button-transition-duration) linear;
        &:first-of-type {
          transform: translateY(calc(-1 * var(--menu-button-translation)));
        }
        &:last-of-type {
          transform: translateY(var(--menu-button-translation));
        }
      }
    }
  }
  @include css-media-queries($from-breakpoint: visible-menu) {
    grid-area: menu;
    justify-self: end;
    ul {
      flex-direction: initial;
    }
    @media (pointer: fine) {
      a {
        @include mixins.menu-link-hover;
        &::before {
          inset-block-end: var(--menu-link-inset-end);
        }
      }
    }
  }
}
