@charset "utf-8";

/** @section Fonts */
@font-face {
  font-family: Alata;
  src: url("fonts/Alata-Regular.woff2") format(woff2);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("fonts/JosefinSans-VariableFont_wght.woff2") format(woff2) tech(variations);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
