@charset "utf-8";
@use "../base/mixins" as *;
@use "../viewport-active-elements/mixins" as mixins;

/** @section Hero */
#hero {
  display: flex;
  flex-direction: column;
  gap: var(--hero-gap);
  h2,
  p {
    text-align: center;
  }
  h2 {
    font-family: var(--secondary-font);
    font-size: var(--hero-title-size);
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    margin-block-end: var(--hero-title-block-margin);
  }
  p {
    color: var(--tertiary);
  }
  section,
  picture {
    opacity: 0;
    transform: translateY(20%);
    transition: var(--viewport-active-transition-duration) ease-in;
    &.active {
      @include mixins.opacify-reset-vertical-translation;
    }
  }
  picture {
    display: flex;
  }
  img {
    inline-size: 100%;
    object-fit: cover;
  }
  @include css-media-queries($from-breakpoint: multicol-hero) {
    flex-direction: initial;
    gap: initial;
    h2,
    p {
      text-align: initial;
    }
    section,
    picture {
      transform: translateY(0);
      &.active {
        @include mixins.opacify-reset-horizontal-translation;
      }
    }
    section {
      background: var(--primary-background);
      align-self: end;
      padding: var(--hero-section-padding) 0 0 var(--hero-section-padding);
      margin-inline-start: var(--hero-section-inline-margin);
      transform: translateX(10%);
    }
    picture {
      flex: 1 0 var(--hero-picture-size);
      transform: translateX(-10%);
    }
    img {
      inline-size: initial;
      block-size: 100%;
    }
  }
}
